{% block footer %}
        <footer id="footer">
            <div class="totop">
                <span><a href="#" id="toTop"><img src="/grav-admin/user/themes/mytheme/images/arrow-up.svg" alt="arrow up" style="display: inline;color: #e15e0e;vertical-align: middle;" width="32" height="32"></a></span>
            </div>
<!-- 
            <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
 -->
        </footer>
{% endblock %}