<div class="hcard" style="display:none;">
<a class="h-card" href="https://jeremycherfas.net/"><img src="https://www.jeremycherfas.net/user/plugins/aboutme/assets/avatars/zoot.jpg" alt="Perfesser Farnsworth" class="photo"/></a>
</div>
