<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
</head>

<body>
    <article class="p-listen-of">
        <div class="list-blog-header">
            <div class="my-list-blog-header">
                <!-- <div class="h-cite"> -->
                <a href="The Stored Image"><img src="image.jpg" class="u-photo my-artwork"></a>
                <div class="my-icon">
                    <i class="fa fa-headphones fa-3x" aria-hidden="true"></i>
                </div>
                <h2 class="my-headline">
                    <!-- store headphones in assets and use that -->

                    Listened to <a href="$The OvercastUrl" class="p-name">SQL Fun</a>
                </h2>
                <div class="pubDate my-date">
                    2018-12-12T11:30:00-05:00
                </div>
                <!-- </div> -->
                <div class="e-content my-summary">

                    <p>A lot of professionals say that 'no one person can know everything about SQL Server', which sounds like a wonderful challenge to take up. While it may be a numb... </p>

                    <p>And this would contain any additional pearls of wisdom that I would like to add</p>
                    <!-- I also want to be able to add comments here, but they can come after the fact. They ought, though, to be part of e-content. Which they would be, if they are here. -->
                </div>
            </div>
        </div>

    </article>
</body>
