<div class="sidebar-content">
<h4>Fighting the good fight</h4>
<p>Spam received</p>
<embed src="http://kevinmarks.com/sparkline.svg?7,6,3,4,2,23,14,6,2,,2,0,5,10,4," width="200" height="15">

<p>Items deleted</p>
<embed src="http://kevinmarks.com/sparkline.svg?14,6,22,11,6,27,29,7,2,3,0,7,32,8" width="200" height="15">

</div>