<div class="sidebar-content">
<h4>Fighting the good fight</h4>
<p>Spam received</p>

<embed src= "{{ url('theme://images/sparkline.svg') }}?7,6,3,4,2,23,14,6,2,,2,0,5,10,4,2,1,3,1,1,5,3,3,1,1,1,0,0,2,19,1,6,1,5,8,4,0,1,3,5,2,0,11,9,0,5,3,1,1,3,3,6,1,3,2" width="100" height="15">

<p>Items deleted</p>
<embed src="{{ url('theme://images/sparkline.svg') }}?14,6,22,11,6,27,29,7,2,3,0,7,32,8,2,1,6,1,1,10,3,1,6,2,1,0,0,2,22,1,6,1,10,10,4,0,1,7,7,5,0,23,15,0,7,6,2,1,13,3,14,1,3,5" width="100" height="15">


</div>
