{% if config.plugins.webmention.enabled %}

 		{% if config.plugins.webmention.data %}

<h1>Webmentions</h1>
<h2>Display that NEW stuff here</h2>
A bit like you were dispalying comments

{# Need a loop here in case more than one item in mf2 #}

{% set mf2 = config.plugins.webmention.data.0|slice(4,1) %}
{% set properties = mf2.properties %}


{% set needle1 = 'h-entry' %}
{% set needle2 = 'h-card' %}

{% if mf2.source_mf2.items.0.type.0 is same as(needle1) %}
	<p>Bingo: h-entry</p>
	{
{% endif %}
 		
 		{% endif %}

{% endif %}

{{ dump(page.canonical) }}
{{ dump(config.plugins.webmention.receiver.file_data) }}
{{ dump(config.plugins.webmention) }}
