<div class="flex flex-column flex-shrink mb-2">

    <div class="flex-shrink-0 w-full pt-4">
        <div class="text-sm md:text-2xl">
            {% include 'partials/blog/date.html.twig' %}
        </div>

        <div class="pl-2 md:pl-4">
        {% include 'partials/blog/title.html.twig' %}
        </div>
<!--     </div> <!~~ End title stuff ~~> -->

    <div class="card-body hidden md:pl-4 md:text-lg lg:text-2xl md:block ">

        {% if page.summary != page.content %}
            {{ page.summary|raw }}
        {% else %}
            {{ page.content|raw }}
        {% endif %}

    </div>
    </div>

</div>
<!-- End list item -->
