{% block header %}
    <div class="headblock container flex flex-col h-64 ">

    <img class="absolute top" src="{{ url('theme://images/rainbow-pines.png')  }}" >

        <div class="navbar flex-row top  mb-2">
            <div class="absolute w-3/4 top ml-4 pr-4">
                {% block header_navigation %}
                    {% include 'partials/navigation.html.twig' %}
                {% endblock %}
            </div>
        </div> <!-- end navbar -->

    </div> <!-- end headblock -->
        <div class="searchbox z-40 bg-white opacity-100 -mt-12 pt-2 pb-2">
            <div class="flex justify-center items-center">
                {% include 'partials/simplesearch_searchbox.html.twig' %}
            </div>
        </div> <!-- end searchbox -->

{% endblock %}
