<!-- 			<div class="e-content "> -->
			{% set thecontent = ( page.content | split('</p>') ) %}
			<div class="listen-summary ">
				<span class="p-summary"> {{ page.content | split('</p>') | first }} </span>
				<div class="text-right ">Listen <a href="{{page.header.theurl }}">here</a>.</div>
				</div>
			{% set contentlength = 	(thecontent|length) %}
			{% for i in 1..contentlength %}
			<p>
			{{ thecontent[i] }}
			</p>
			{% endfor %}
<!-- 			</div> -->
