<div class="footer flex flex-col justify-center items-center pt-2 border-t-8 border-gray-300">
	<div class="">Theme developed by me using Tailwind.css</div>
	<div class=""><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://trilby.media">Trilby Media</a>.</div>
</div>
