<div class="headblock relative">
    {% block header_navigation %}

        {% set options = {
            items: {
                '@root.descendants': ''
            },
            'order': {
                'by': 'folder',
                'dir': 'asc'
            }
        } %}
        {% set my_collection = page.collection(options) %}

        {% if page.template == 'modular' or page.template == 'photo' %}
            <!-- from myheader.html.twig -->
            <div class="searchbox hidden z-40 md:block md:pb-2 md:mt-4">
                <div class="flex justify-center items-center">
                    {% include 'partials/simplesearch_searchbox.html.twig' %}
                    <!-- Add placeholder color -->
                </div>
            </div>
        {% endif %}

    {% endblock %}
    <!-- header-navigation -->

</div>
