{% set options = { items: {'@root.descendants':''}, 'order': {'by': 'folder', 'dir': 'asc'}} %}
{% set my_collection = page.collection(options) %}

<nav class="absolute">
    <section class="lg:relative lg:flex lg:items-center">
    <div class="w-1/4 flex py-4 px-4 z-40">
        <a href="" class="">
            <h1 class="text-3xl" style="line-height: .75">Jeremy Cherfas</h1>
        </a>

        <section class="flex items-center lg:hidden"> <!-- The actual hamburger -->

            <button id="menu-toggle" class="text-red-700">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="block w-6"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/></svg>
          </button>
        </section>
    </div>

    <div class="lg:w-3/4 lg:inline-block">
        <ul id="navigation" class="bg-white opacity-75 px-4 py-4 mr-4 h-full lg:flex lg:items-center lg:px-0 lg:py-0 lg:justify-end"> <!-- The links change for larger -->
        {% for p in my_collection %}
        {% if p.header.menu %}
            {% if page.slug == p.slug %}
                <li class=""><a href="" class="inline-block mb-2 tracking-wide uppercase text-sm font-bold lg:px-4">{{ p.menu }}</a></li>
            {% else %}
                <li class=""><a href="{{ p.url }}" class="inline-block mb-2 tracking-wide uppercase text-sm lg:px-4">{{ p.menu }}</a></li>
            {% endif %}
        {% endif %}
        {% endfor %}
        </ul>
    </div>
    </section>
</nav>
