<div class="sidebar-content mr-4 md:mr-0 ">
<div class="onthisday ">
<h3 class="text-center">On This Day</h3>

{% for child in collection %}
{% if date == page.header.date("m/d") %}
        <div class="flex flex-row px-2 md:px-4 items-start">
            <time class="w-1/3 flex-shrink-0 text-right">{{ item.lastModified|nicetime(false) }}</time><a class="w-2/3 pl-4" href="{{ item.link }}">{{ item.title }}</a>
        </div>

{% endif %}
{% endfor %}

</div>
</div>