{% embed 'partials/vavi.base.html.twig' %}


{% block header %}
        <header id="header">


        {% set blog_image = parent.media.images|first %}
		<div class="vavi-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">


{# THE BIG PROBLEM WITH THIS IS THAT IT IS HARD WIRED *}

		<div class="vavi-top blog-header blog-header-image" style="background-image: url(/grav-blog/images/5/f/1/6/8/5f168ca9edada5e2d915084545789b399421ecfd-banner.png);">

        
{#            <div id="logo">

                 <h3><a href="{{ page.url }}">Vaviblog home</a></h3>

            </div>
#}

{# Removing navbar from Vaviblog Can reinstate later with vavi.navigation.html.twig
            <div id="navbar">
                {% block header_extra %}{% endblock %}
                {% if config.plugins.langswitcher.enabled %}
                {% include 'partials/langswitcher.html.twig' %}
                {% endif %}
                {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
                {% endblock %}
                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
#}
            
        </div>    
        </header>
        {% endblock %}


	{% block content %}

{#
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}
#}
		
		<div class="blog-content-item grid pure-g-r">
			<div id="item" class="block pure-u-2-3">
			    {% include 'partials/vavi.blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
			<div id="sidebar" class="block size-1-3 pure-u-1-3">
				{% include 'partials/sidebar.html.twig' with {'blog':page.parent}%}
			</div>
		</div>
{{ dump(page.media) }}       

	{% endblock %}

{% endembed %}
