/* Over-ride default Antimatter (and MyTheme) behavior of full-browser-width */
#sb-site, .sb-site-container, .sb-slidebar, body, html, .scrolled#header {
      max-width: 1200px;
      margin: 0 auto !important;
    }
    
    #header #navbar {
      max-width: 1000px;
    }
    
/* To get black type in search box */
.mysearch {
	color: #000;
	}
	
/* To fix all -paragraphs to same size */
.blog-content-item .list-blog-padding > p:nth-child(2) {
    font-size: 1rem;
}

/* To force left-align for H1 */
h1 {
text-align: left;
line-height: 3.0rem;
}

h2, h4 {
color: #064870;
font-weight: 100;
Padding-left: 0 rem;
padding-right: 0.5rem;
}

h2.subhead {
font-size: 1.8rem;
color: #064870;
text-align: left;
padding-top: 1rem;
}

h5.recent {
font-size: 0.8rem;
color: #064870;
text-align: center;
padding-top: 0.5rem;
margin: 0px;
padding-left: 0.5rem;
padding-right: 0.5rem;
}

.tags {
padding-bottom: 1rem;
}

/* Change size of footnote numbers */
.footnote-ref {
    font-size: 160%;
}

ol li {
    font-size: 130%;
    vertical-align: bottom;
}

/* Styling comments */

.comment {
	background-color: #fef1e3;
	}
	
.comment h3 {
	color: #888;
	Margin-left: 0.8rem;
	font-size: 1.6rem;
	}	

.comment-content {
	Font-size: 1.2rem;
	Margin-left: 0.8rem;
	}
	
.commenter {
	font-size: 1.0rem;
	font-style: Italic;
	text-Align: right;
	}

.commenter p {
	Margin-right: 0.8rem;
	}

table.comment_table {
	Color: black;
	}

/* Styling webmentions */

.webmention-container {
}

.webmention-container > :first-child {
    margin-top: 1rem;
}

.webmention-mention {
    padding-left: 6rem;
    position: relative;
	margin-bottom: 0.5rem;
	Padding-bottom: 0.5rem;
	border-bottom: 1px solid;
}

.webmention-mention:last-child{
margin-bottom:0
}

.webmention-author img {
position: absolute;
top: 0;
left: 0px;
width: 5rem;
border-radius: 50px;
}

.webmention-summary {
background-color: transparent;
}

.webmention-published {
Background-color: transparent;
}

/* To colour headings in book reviews */

.sectionHeading {
	background-color: #Fcefe6;
	}

/* Display and padding for images */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto }

img.left {
    float: Left;
    padding-right: 1em;
     }

img.right {
    float: right;
    padding-left: 1em;
     }

/* Module shading */
.white {
	background-color: #fff;
	}

.gray {
	background-color: #f6f6f6;
	}
	
blockquote p {
font-size: 1.3rem;
color: #064870;
}

td {
	width: 50%;
	vertical-align: top; 
	}