.my-list-blog-header {
display: grid;
grid-template-columns: 150px 64px auto 100px;
grid-template-rows: 50% 50%;
grid-template-areas: "art icon headline date" ". summary summary summary";
grid-gap: 1em 1em;
align-content: start;
}

.my-artwork {
    width: 150px;
    height: 150px;
/* background-color: Red; */
grid-area: art;
}

.my-icon {
    /* background-color: Yellow; */
    Width = 64px;
    Height = 64px;
grid-area: icon;
}

.my-headline {
/* background-color: Blue; */
grid-area: headline;
}

.my-summary {
/* background-color: Green; */
grid-area: summary;
}

.my-date {
    /* background-color: Teal; */
    grid-area: date;
}
