# Grav Specific
.sass-cache
data/*
accounts/*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.zip

newhook.php

pages/03.blog/253.testing-automatic-send
webmention-form.txt
localhost/*
themes/antimatter/*
themes/quark/*
themes/tailwind-old/*

node_modules/
**/base.html.twig
*.js
*.json
*.lock
**/README.md
