{% extends 'partials/base.html.twig' %}


{% block content %}
<div class="md:flex md:flex-row ">
<div class="md:w-2/3 ">
<!-- <div class="flex flex-shrink-0 w-full pt-4"> <!~~ Essential for sidebar position ~~>	        <div class="flex text-sm md:text-2xl"> -->

		<div>
			<h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ page.header.http_response_code }}</h1>
			<p>
				{{ page.content|raw }}
			</p>
		</div>
	</div>


{% endblock %}
