@import url('https://fonts.googleapis.com/css?family=Lato:400|Montserrat:400');

html {font-size: 16px;}

body {
  background-color: white;
  font-family: 'Montserrat', san-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}


p {
margin-bottom: 1.0rem;
}


h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

ul {
font-size: 1.25
}

.blog-date {
    float: right;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

li[class~="menu"] {
    font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
font-size: 3.157rem;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

small, .text_small {font-size: 0.75em;}

hr {
       margin : 0 1rem 0 1rem;
       }

a {
color: #b46100;
}

a:hover {
color: #2B6CB0;
background-color: #FEEBC8;
}

.citation {
    Margin-top: 1.0rem;
    Margin-bottom: 1.0rem;
    background-color: #Fcf4f2;
    padding-left: 1.0rem;
}

blockquote p {
    color: #2B6CB0;
    padding-left: 1.0rem;
    Margin-left: 1.0rem;
    Border-left: 0.3rem solid #2B6CB0;
    Margin-top: 1.0rem;
    Margin-bottom: 1.0rem;
}

.footnotes {
    Margin-top: 1.0rem;
}

.footnotes > ol {
    list-style-type: decimal;
    padding-top: 1.0rem;
    font-size: 1.2rem;
}

ol, ul {
    list-style-type: Disc;
    list-style-position: outside;
    Margin-left: 1.0rem;
}

.menu {
    list-style-type: none;
}

details {
  margin: 1.0rem;
}
summary {
  Font-size: 250%;
  color: #b46100;
}

/* For format of hours worked table */
.worktable {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

.bigrow {
width: 20%;
}

.smallrow {
width: 10%;
}

/* linktable */
.linktable {
	table-layout: fixed;
	width: 100%;
}

.linktable td{
	padding-left: 1.0em;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}
.linktable tr:nth-child(odd){
	background: #FFFAF0;
}	
.linktable tr:nth-child(even){
	background: #F7FAFC;
}	
	
/* Display and padding for images */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto }

img.left {
    float: Left;
    padding-right: 1em;
     }

img.right {
    float: right;
    padding-left: 1em;
     }

.cover {
	float: left 
}

/* Styling webmentions */

.webmention-container {
}

.webmention-container > :first-child {
    margin-top: 1em;
}

.webmention-mention {
    padding-left: 6em;
    position: relative;
	margin-bottom: 0.5em;
	Padding-bottom: 0.5em;
	border-bottom: 1px solid;
}

.webmention-mention:last-child{
margin-bottom:0
}

.webmention-author img {
position: absolute;
top: 0;
left: 0px;
width: 5em;
border-radius: 4.2em;
}

.webmention-summary { 
background-color: transparent;
}

.webmention-published {
Background-color: transparent;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 border-left: 3px solid #2B6CB0;
 padding: 1em 1.5em;
 font-size: 1.0rem;
}

/* Styling Kindle notes in Reviews */
.bookTitle {
	background-color: #Fcf4f2;;
	Padding-left: 1.0rem;
}
.authors {
	Padding-left: 1.0rem;
	background-color: #Fcf4f2;;
}
.sectionHeading {
	background-color: #ffdc86; /* 25% darker than Cosmic latte */
	Padding-left: 1.0rem;
	font-size: 1.2rem;
	}

.noteHeading {
	background-color: #fff8e7; /* Cosmic latte */
	Padding-left: 1.0rem;
	font-size: 1.2rem;
	font-style: italic;
	}

.noteText{
	background-color: #fffff0; /* ivory */
	Padding-left: 1.0rem;
	font-size: 1.2rem;
	}

/* Override bar styles on bar charts. Bars are also strokes so you have maximum freedom in styling them. */
.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: blue;
  /* The width of your bars */
  stroke-width: 1px;
}

.ct-series-b .ct-bar {
  /* Colour of your bars */
  stroke: green;
  /* The width of your bars */
  stroke-width: 1px;
}

/* 
summary {
}

summary[open] {
}

summary p {
font-size: 1.0rem;
background-color: Ivory;
}

summary[open] p {
background-color: Red;
}



details {
}

details[open] {
}
 */

