/* 
body { # The entire content
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fffff8;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter;
}
 */
body {
	background-color: #eee !important;
	}

/* 
.all-content {
	background-color: #eee
	}
 */

section {
/* 	background-color: silver; */
	margin-left: auto;
	margin-right: auto;
	}
	
section p {
    width: 100%;
}

img {
    max-width: 100%;
}

.img-fullwidth {
  /* max-width: 100%; */
  max-width: none;
  margin-left: -15%;
  width: 130%;
}


figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 90%;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 60%;
    margin-left: 40%;
    text-align: right;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}


div.fullwidth,
table.fullwidth {
    width: 100%;
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%; # of the containing element, it in a section but not in a <p>
    clear:both;
}

@media (max-width: 375px) {
    
/* 
    section {
	background-color: aqua;
	margin-left: 1em;
	margin-right: 1em;
	}
 */

    .h-entry {
    padding-right: 0.5em;
    }
    
    figcaption,
    figure.fullwidth figcaption {
        margin-right: 1em;
        margin-left: 1em;
        max-width: none;
		width: 90%;
        font-size: 90%;
    }

    figure {
        max-width: 90%;
    }

    .img-fullwidth {
    width: 100%;
    margin-left: 0;
    }

}


