        <span class="blog-date md:text-base px-4 md:pr-0">
            <time class="dt-published" datetime="{{ page.date|date("c") }}">
                <span class="inline-block">{{ page.date|date("d") }}</span>
                <span class="inline-block md:uppercase">{{ page.date|date("M") }}</span>
                <span class="block">{{ page.date|date("Y") }}</span>
            </time>
        </span>
