        <span class="blog-date" style="float: right; font-size: inherit;">
            <time class="dt-published" datetime="{{ page.date|date("c") }}">
                <span style="display: inline-block">{{ page.date|date("d") }}</span>
                <span style="display: inline-block; text-transform: uppercase;">{{ page.date|date("M") }}</span>
                <span style="display: block">{{ page.date|date("Y") }}</span>
            </time>
        </span>
