<div class="mypagination">
<ul class="mypagination-menu">
<!-- 	<div class=" "> -->
<li>
		{% if not page.isLast %} 
			<a href="{{ page.prevSibling.url }}">
				<i class="fa fa-angle-left"></i>Previous 
			</a>
		{% endif %} 
</li>
<!-- 	</div> -->
<!-- 	<div class=" "> -->
<li>
		{% if not page.isFirst %} 
			<a href="{{ page.nextSibling.url }}">
				Next <i class="fa fa-angle-right"></i>
			</a>
			{% endif %} 
</li>
<!-- 	</div> -->
</div>