<span class="blog-date" style="float: right;">
    <time class="dt-published" datetime="{{ page.date|date("c") }}">
        <span class=" ">{{ page.date|date("d") }}</span>
        <span class=" ">{{ page.date|date("M") }}</span>
        <span class=" ">{{ page.date|date("Y") }}</span>
    </time>
</span>
