<div class="container">
<div class="item">
<!-- <div class="article"> -->
<div class="h-entry">

    <div class="list-summary">
        <div class="date-block ">
            {% include 'partials/blog/date.html.twig' %}
        </div>

        <div class=" ">
        {% include 'partials/blog/title.html.twig' %}
        </div>
<!--     </div> <!~~ End title stuff ~~> -->

{% include 'partials/hcard.html.twig' %}

    <div class="e-content" style="font-size: var(--s--1);">
        {% if page.summary != page.content %}
            {{ page.summary|raw }}
<p style="text-align: right; font-size: var(--s--1);">
            <a href="{{ page.url }}">There’s more  ➢</a>
</p>            
<!-- 			 <span style="float: right;"><a href="{{ page.url }}">There’s more  ➢</a></span> -->
        {% else %}
            {{ page.content|raw }}
        {% endif %}
    
    </div>
    </div>

</div>
<!-- </div> -->
</div>
</div>
<!-- End list item -->
