<div class="footer">
	<div class="feeds">
<!-- Adds feeds from Stream -->
		{% if config.plugins.twigfeeds.enabled %}
		<h3 >Stream</h3>
		{% for name, feed in twig_feeds if name == 'Stream' %}
    		{% for item in feed.items %}        	
		<div class="otd-entry">
        	<time class="">{{ item.lastModified|nicetime(false) }}</time><a class="" href="{{ item.link }}">{{ item.title }}</a>
		</div>
		    {% endfor %}
		{% endfor %}
		{% endif %} <!-- Should this be above ending div??? -->
	</div>

	<div class="otherplaces">
		<h3>Some other stuff ...</h3>
{% if page.template is same as('item')%}
{% block onthisday %}
	{% include 'partials/onthisday.html.twig' %}
{% endblock onthisday %}
{% endif %}

{% block about %}
	{% include 'partials/about.html.twig' %}
{% endblock about %}
		
	</div>

	<div class="consumption">
<!-- Adds Consumption Log -->
		<h3 >What I’ve watched</h3>
	<p >I keep <a href="{{base_url_absolute}}/what-ive-watched.html">a little log</a>.</p>
	</div>
</div>
