<article id="div-comment-273" class="comment-body">
				<footer class="comment-meta">
					<div class="comment-author vcard">
					<b class="fn"><a href="https://stream.jeremycherfas.net/profile/jeremy" class="url" rel="ugc external nofollow">Jeremy Cherfas</a></b> <span class="says">says:</span>					</div><!-- .comment-author -->

					<div class="comment-metadata">
					<a href="http://localhost:8000/ClassicPress-release-1.5.2/tuna/#comment-273"><time datetime="2023-01-23T14:04:06+01:00">23 January 2023 at 2:04 pm</time></a> <span class="edit-link"><a class="comment-edit-link" href="http://localhost:8000/ClassicPress-release-1.5.2/wp-admin/comment.php?action=editcomment&amp;c=273">Edit</a></span>					</div><!-- .comment-metadata -->

									</footer><!-- .comment-meta -->

				<div class="comment-content">
					<p><a href="https://stream.jeremycherfas.net/file/305014ba87ceb2ce0a0abd4248c9e2d5/tuna-tw.jpg" rel="nofollow ugc"></a></p>
<p><span class="syn-text">Also on:</span></p>
<ul class="relsyn">
<li><a aria-label="twitter" class="u-syndication syn-link" href="https://twitter.com/EatPodcast/status/1617508498660532224" rel="syndication"> <span class="syndication-link-icon svg-twitter" style="display: inline-block; max-width: 1rem; margin: 2px;" aria-hidden="true" aria-label="twitter" title="twitter"><svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Twitter</title><path d="M21.543 7.104c.015.211.015.423.015.636 0 6.507-4.954 14.01-14.01 14.01v-.003A13.94 13.94 0 0 1 0 19.539a9.88 9.88 0 0 0 7.287-2.041 4.93 4.93 0 0 1-4.6-3.42 4.916 4.916 0 0 0 2.223-.084A4.926 4.926 0 0 1 .96 9.167v-.062a4.887 4.887 0 0 0 2.235.616A4.928 4.928 0 0 1 1.67 3.148 13.98 13.98 0 0 0 11.82 8.292a4.929 4.929 0 0 1 8.39-4.49 9.868 9.868 0 0 0 3.128-1.196 4.941 4.941 0 0 1-2.165 2.724A9.828 9.828 0 0 0 24 4.555a10.019 10.019 0 0 1-2.457 2.549z"></path></svg></span></a></li>
</ul>
				</div><!-- .comment-content -->

				<div class="reply"><a rel="nofollow" class="comment-reply-link" href="http://localhost:8000/ClassicPress-release-1.5.2/tuna/?replytocom=273#respond" data-commentid="273" data-postid="4065" data-belowelement="div-comment-273" data-respondelement="respond" data-replyto="Reply to Jeremy Cherfas" aria-label="Reply to Jeremy Cherfas">Reply</a></div>			</article>