:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

.everything {
	max-width: 1024px;
	margin: 0 auto 0 auto;
	:background-color lime;
}

.topbox
		{
			background-color: grey;
			width: auto;
			height: auto;
			display: flex;
			flex-wrap: wrap;
			gap: var(--s1);
		}

.topbox > * {
  	flex-grow: 1;
  	flex-basis: calc(( 30rem - 100%) * 999);
	}

.topbox > :nth-last-child(n+ 4),
.topbox > :nth-last-child(n+ 4) ~ * {
  	flex-basis: 100%;
	}
		
.menu
		{
			background-color:pink;
			width: 33%;
		}

.searchbox
		{
			background-color:pink;
			width: 33%;
		}

.webring
		{
			background-color:pink;
			width: 33%;
		}

.container
	{
	background-color: aqua;
	height: auto;
	padding: 1rem;
	}

.onthisday
	{
	background-color: crimson;
	height: auto;
	padding: 1rem;
	}	
	
.article
	{
	background-color: ivory;
	height: auto;
	padding: 1rem;
	}

.item {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.item > :last-child {
  flex-basis: 40ch; 
  flex-grow: 1;
}

.item > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.commentbox
	{
	background-color: silver;
	height: auto;
	padding: 1rem
	}

.comments
	{
	background-color: yellow;
	height: auto;
	padding: 1rem;
	}

.submitcomments {
	background-color: aquamarine;
	height: auto;
	padding: 1rem;
  	display: flex;
  	flex-wrap: wrap;
  	gap: var(--s1);
}

.submitcomments > * {
  flex-grow: 1;
  flex-basis: calc(( 45rem - 100%) * 999);
}

.submitcomments > :nth-last-child(n+ 3),
.submitcomments > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}
	
.webmentionform, .commentform
	{
	background-color: burlywood;
	height: auto;
	padding: 1rem;
	border: 1px dashed red;
	}
	
.footer
	{
	background-color: darkorange;
	height: auto;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: var(--s1);
	}

.footer > * {
  	flex-grow: 1;
  	flex-basis: calc(( 30rem - 100%) * 999);
	}

.footer > :nth-last-child(n+ 4),
.footer > :nth-last-child(n+ 4) ~ * {
  	flex-basis: 100%;
	}

.feeds, .otherplaces, .consumption
	{
	background-color: darkorchid;
	height: auto;
	padding: 1rem;
	width: 33%;
	border: 3px dashed white;
	}
